.my-tooltip {
    background: gray;
    font-size: 11px;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    font-weight: 600;
    width: max-content;
    position: fixed;
    display: inline-block;
    visibility: hidden;
}
